{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Anna Kelly Basilia Veloso - Diretora de Marketing <br /> 
    Gabriel da Silva Bezerra - Analista de Desenvolvimento <br />
    Jefferson Ximenes Ferreira de Araújo - Programador <br /><br />
    Empresa Software Leader<br />
    Rua da Mauá, 1717<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Software@leader.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@sac.com">Marketing@example.com</a>
</address>

{% endblock %}
